<div *ngIf="selected[0] as activity" class="main-container">
    <div class="header-container"
        style="background-image: url('assets/photos/wave\ \(10\).svg'); background-repeat: no-repeat; background-size:cover;">
        <!-- use svg 8 -->
        <h1 class="heading">Dodatne Aktivnosti</h1>
    </div>

    <div class="separator"> </div>

    <h1 style="color: #093459; text-align: center;" class="heading">
        {{activity.name}}
    </h1>

    <div class="text-container">
        <p class="text-in-text-container">
            {{activity.text}}
        </p>
        <p *ngIf="activity.dodatno">
            {{activity.dodatno}}
        </p>
        <ng-container *ngIf="activity.videos">
            <div class="video-box" *ngFor="let vid of activity.videos">
                <iframe style="width: 100%; height: 100%;" [src]="vid | safe" allowfullscreen>
                </iframe>
            </div>
        </ng-container>
    </div>
    <div class="text-container">
        <div class="uk-child-width-1-3@m" index="16" uk-grid uk-lightbox="animation: slide">
            <div *ngFor="let img of activity.pictures">
                <a class="uk-inline" href="'assets/photos/' + img + '.jpg'"
                    data-caption="bazen">
                    <img [src]="'assets/photos/' + img + '.jpg'" alt="{{img}}">
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>