<div class="navbar-container">
  <div class="logo-icon-container" (click)="navigate('/home')">
    <img src="assets/icons/activemanlogo2.png" alt="">
  </div>
  <div class="menu-icon-container">
    <div class="menu-icon-div" uk-toggle="target: #offcanvas-overlay">
      <span uk-icon="menu"></span>
    </div>
  </div>
</div>
<div id="offcanvas-overlay" uk-offcanvas="overlay: true; flip: true;">
  <div style="background-color: #28547b;" class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>


      <h1 class="heading">MENU</h1>
      <div>
          <p (click)="navigate('/home')" class="open-sans-bold sidemenu-p">Početna</p>
          <p (click)="navigate('/activity')" class="open-sans-bold sidemenu-p">Cilj Skolice</p>
          <p (click)="navigate('/home')" class="open-sans-bold sidemenu-p">Dodatne Aktivnosti</p>
          <p (click)="navigate('/activity-info/rodjendani')" class="open-sans-bold sidemenu-p">Sportski Rođendani</p>
          <p (click)="navigate('/activity-info/bazen')" class="open-sans-bold sidemenu-p">Bazen</p>
          <p (click)="navigate('/activity-info/klizanje')" class="open-sans-bold sidemenu-p">Klizanje</p>
          <p (click)="navigate('/activity-info/aerobik')" class="open-sans-bold sidemenu-p">Aerobic</p>
          <p (click)="navigate('/activity-info/individualni')" class="open-sans-bold sidemenu-p">Individualni Treninzi</p>
          <p (click)="navigate('/home')" class="open-sans-bold sidemenu-p">Konkurs za trenere</p>
          <p (click)="navigate('/home')" class="open-sans-bold sidemenu-p">Kontakt</p>
      </div>

  </div>
</div>
<!-- <app-scheduling></app-scheduling> -->
<router-outlet></router-outlet>