<div #window style="background-image: url(assets/photos/wave.svg)" class="main-header-container">
    <!-- <h1>NASLOV NEKI</h1> -->
    <div class="main-box-container">
        <div class="main-box-left animate__animated animate__flipInX">
            <div>
                <h1 class="heading">Skolica Sporta</h1>
                <h1 class="heading" style="font-size: 4rem;">ACTIVITY CENTAR</h1>
            </div><br>
            <div>
                <h3 class="heading">
                    Aktivna deca - Zdrava deca
                </h3><br>
                <button class="prijava-button">Prijava
                    za upis</button>
            </div>
        </div>
        <div class="main-box-right animate__animated animate__fadeIn animate__delay-1.8s">
            <img style="width: 700px; height: auto; border-top-left-radius: 153%; border-top-right-radius: 105%; border-bottom-left-radius: 100%; border-bottom-right-radius: 50%;"
                src="assets/photos/children-920236_1280.jpg" alt="">
        </div>
    </div>
</div>
<div
    style="background-image: url(assets/photos/wave\ \(2\).svg); min-height: 60vh; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-color: #0099ff;">
    <div class="circle-img-box-container">
        <div class="circle-img-box">
            <img class="circle-img" (click)="navigate('/activity')" src="assets/photos/activemanfront.png" alt="">
            <img class="circle-img" (click)="navigate('/activity-info/bazen')" src="assets/photos/plivanje2.png"
                alt="">
            <img class="circle-img" (click)="navigate('/activity-info/klizanje')" src="assets/photos/klizanje.png"
                alt="">
            <img class="circle-img" (click)="navigate('/activity-info/rodjendani')"
                src="assets/photos/rodjendani.png" alt="">
        </div>
        <div class="circle-img-box">
            <img class="circle-img" (click)="navigate('/activity-info/individualni')"
                src="assets/photos/individualni.png" alt="">
            <img class="circle-img" (click)="navigate('/activity-info/zumba')" src="assets/photos/zumba.png" alt="">
            <img class="circle-img" src="assets/photos/timskolice.png" alt="">
            <img class="circle-img" src="assets/photos/activemanfront.png" alt="">
        </div>
    </div>
</div>

<div
    style="background-image: url(assets/photos/wave\ \(5\).svg); height: 95vh; background-repeat: no-repeat; background-color: #fff; border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);">
    <div
        style="display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center; box-sizing: border-box;">
        <div #firstElement style="display: none; text-align: center;">
            <h1 class="heading additional-act">DODATNE AKTIVNOSTI</h1>
        </div>
        <div
            style="width: 100%; height: 250px; background-color: #ff4f6c; display: flex; justify-content: space-evenly; align-items: center;">
            <div style="width: 70%; display: flex; justify-content: space-evenly;">
                <img class="additional-act-img" src="assets/icons/activities/ice-skating.png" alt="">
                <img class="additional-act-img" src="assets/icons/activities/roller-skate.png" alt="">
                <img class="additional-act-img" src="assets/icons/activities/slide.png" alt="">
                <img class="additional-act-img" src="assets/icons/activities/swimming.png" alt="">
                <img class="additional-act-img" src="assets/icons/activities/tent.png" alt="">
                <img class="additional-act-img" src="assets/icons/activities/video-tutorials.png" alt="">
                <img class="additional-act-img" src="assets/icons/activities/volleyball.png" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- entrance video -->
<!-- <div #loader class="loader">
    <video #myVideo height="100%" width="100%" (ended)="videoEnded()" autoplay controls>
      <source src="assets/videos/YouTubeLikeButtonVidevo.mov">
    </video>
  </div> -->