/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import './assets/styles/website-style/website-style.scss';
@import './assets/styles/website-style/activity-page.scss';
@import './assets/styles/website-style/footer.scss';
@import '~animate.css/animate.min';
* {
    // width: 100%;
    margin: 0;
    font-family: "Luckiest Guy", cursive;
}

h1 {
    font-weight: 100;
    color: white;
    font-family: 'Luckiest Guy', cursive;
}

/* The emerging W3C standard
   that is currently Firefox-only */

   * {
    scrollbar-width: thin;
    scrollbar-color: #C5C6C7;
}

/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #c5c6c731;
}

*::-webkit-scrollbar-thumb {
    background-color: #C5C6C7;
    border-radius: 20px;
}

/* Modal scrools to top when open - FIX */
.uk-modal-page { overflow: visible !important; }
.uk-modal-page > body { overflow-y: visible !important;overflow-x: hidden !important; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
