.main-container {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-container {
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #0099ff;
    // background: radial-gradient(circle, rgba(0, 153, 255, 1) 0%, rgba(21, 0, 255, 1) 47%, rgba(0, 153, 255, 1) 100%);
    // background-color: linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(33, 90, 255, 1) 60%, rgba(72, 0, 255, 1) 100%);
}

.text-container {
    width: 70%;
    min-height: 50vh;
    box-sizing: border-box;
    padding: 20px;
}

.text-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-in-text-container {
    padding: 30px;
    font-size: x-large;
    text-align: center;
    font-family: "Open Sans", regular;
}

.left-in-text-container {
    width: 60%;
}
.right-text-in-text-container {
    width: 40%;
}
.text-in-right {
}
.video-box {
    display: flex;
    justify-content: center;
    height: 60vh;
}
.video-box .iframe {
    width: 1200;
    height: 600;
}

.cards-container {
    width: 100%;
    min-height: 50vh;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 200px;
}

.location-card {
    width: 350px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.location-card-p {
    font-family: "Open Sans", regular;
    font-size: large;
}
.location-card-h1 {
    font-size: xx-large;
    color: #093459;
    text-align: center;
}

.h2-slogan {
    // color: #093459;
    color: #0099ff;
    text-align: center;
}

.h2-slogan:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

.li-item {
    font-family: "Open Sans", regular;
    font-weight: 100;
    font-size: larger;
}

.bolding {
    font-family: "Open Sans", regular;
    font-weight: bold;
}

.activman-diploma-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.diploma-box {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 750px) {
    .text-container {
        width: 100%;
    }
    .diploma-box {
        width: 90%;
        padding: 0;
    }
    .activman-diploma-container {
        padding: 0;
    }
    .location-card {
        width: 95vw;
        height: 180px;
    }
    .location-card-p {
        font-size: medium;
        margin-top: 0;
    }
    .location-card-h1 {
        font-size: x-large;
    }
    .cards-container {
        // display: none;
        padding: 10px 0px;
    }
    .text-in-text-container {
        padding: 0;
    }
    .left-in-text-container {
        width: 100%;
    }
    .right-text-in-text-container {
        width: 100%;
    }
    .text-container-box {
        flex-direction: column;
    }
    .text-in-right {
        text-align: center;
    }
}
