.footer-container {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-color: #0099ff;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.bottom-container {
    width: 80%;
    min-height: 80px;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
}

.content-box {
    width: 30%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-item {
    color: #093459;
}

.footer-button {
    padding: 10px;
    margin: 10px;
    background-color: #23527b;
    width: 350px;
    border: 3px solid #093459;
    padding: 10px;
    font-size: x-large;
    font-weight: 100;
    border-radius: 10px;
    color: rgb(206, 206, 206);
}

.footer-button:hover {
    cursor: pointer;
    background-color: #0264a5;
    border: 3px solid #fff;
    color: #fff;
}

.social-media-icon {
    width: 50px;
    margin: 5px;
}
.social-media-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 750px) {
    .footer-button {
        width: 250px;
        font-size: large;
    }
    .top-container {
        flex-direction: column;
    }
    .content-box {
        width: 100%;
    }
    .footer-container {
        padding: 20px 10px;
    }
    .bottom-container {
        width: 100%;
        padding: 10px;
    }
}
