.main-header-container {
    min-height: 70vh;
    background-repeat: no-repeat;
    background-color: #093459;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}
.main-box-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.main-box-left {
    width: 45%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.main-box-right {
    width: 45%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-weight: 100;
    color: white;
    font-family: "Luckiest Guy", cursive;
}

.prijava-button {
    padding: 10px;
    background-color: #0099ff;
    width: 250px;
    border: 5px solid #0099ff;
    padding: 15px;
    font-size: x-large;
    font-weight: 100;
    border-radius: 10px;
    color: white;
}

.prijava-button:hover {
    cursor: pointer;
    background-color: #0264a5;
}

.open-sans-bold {
    font-family: "Open Sans", regular;
    font-weight: bold;
    font-size: larger;
}

.sidemenu-p:hover {
    cursor: pointer;
    color: #0099ff;
}

.logo-icon-container {
    display: flex;
    align-items: center;
    width: 320px;
    justify-content: center;
}
.logo-icon-container:hover {
    cursor: pointer;
}

.menu-icon-container {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
}

.menu-icon-div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #093459;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-div:hover {
    background-color: #1c5c94;
    cursor: pointer;
}

.navbar-container {
    height: 100px;
    width: 100%;
    background-color: #0099ff;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}

.circle-img-box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.circle-img-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 20px;
}

.circle-img {
    width: 250px;
    height: 250px;
}

.circle-img:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

.additional-act {
    color: #0099ff;
    font-size: 5rem;
    margin-top: 15vh;
}

.additional-act-img {
    width: 100px;
    height: 100px;
}

// separator
.separator {
    width: 100%;
    height: 10vh;
}

@media only screen and (max-width: 750px) {
    .main-box-container {
        flex-direction: column-reverse;
    }
    .main-box-left {
        padding: 30px;
        width: 90%;
        text-align: center;
    }
    .main-box-right {
        width: 80%;
        padding: 20px;
        // picture is invisible on mobile
        display: none;
    }
    .circle-img-box {
        flex-wrap: wrap;
    }
    .circle-img {
        width: 150px;
        height: 150px;
    }
    .additional-act {
        font-size: 3rem;
        text-align: center;
    }
    .additional-act-img {
        width: 50px;
        height: 50px;
    }
}
