<!-- <div>
    <img style="width: 100%;" src="assets/photos/footer_img_kids_coaches.jpg" alt="">
</div> -->
<div class="footer-container">
    <div class="top-container">
        <div class="content-box">
            <div>
                <img style="width: 250px;" src="assets/icons/activemanstanding.png" alt="Activeman Logo">
            </div>
            <div style="display: flex; justify-content: center;">
                <img class="social-media-icon" src="assets/icons/social/instagram.png" alt="instagram">
                <img class="social-media-icon" src="assets/icons/social/facebook.png" alt="facebook">
                <img class="social-media-icon" src="assets/icons/social/youtube.png" alt="youtube">
                <!-- <div style="width: 50px; height: 50px; border-radius: 50%; margin: 10px; background-color: #093459; display: flex; justify-content: center; align-items: center;">
                    <span uk-icon="icon: instagram; ratio: 2"></span>
                </div>
                <div style="width: 50px; height: 50px; border-radius: 50%; margin: 10px; background-color: #093459; display: flex; justify-content: center; align-items: center;">
                    <span uk-icon="icon: facebook; ratio: 2"></span>
                </div> -->
            </div>
        </div>
        <div class="content-box">
            <h2 class="heading" style="color: #093459; font-size: 3rem; margin-top: 50px;">Kontakt</h2>
            <p class="li-item" style="color: #093459; font-weight: 700; font-size: x-large;">
                Telefon: 064/27 48 571
            </p>
            <p class="li-item" style="color: #093459; font-weight: 700; font-size: x-large;">
                E-mail: info@activitycentar.com
            </p>
        </div>
        <div style="align-items: center;" class="content-box">
            <button class="footer-button">Prijava za upis</button>
            <button class="footer-button">Konkurs za trenere</button>
            <button class="footer-button">Sportski Rodjendan</button>
        </div>
    </div>
    <div class="bottom-container">
        <p class="li-item" style="color: #093459; font-weight: 700; text-align: center;">
            © 2020. Activity Centar | info@activitycentar.com | Created by XXX
        </p>
    </div>
</div>