<div class="main-container">
    <div class="header-container"
        style="background-image: url('assets/photos/wave\ \(10\).svg'); background-repeat: no-repeat; background-size:cover;">
        <!-- use svg 8 -->
        <h1 class="heading">Skolica Sporta</h1>
    </div>

    <div class="separator"> </div>

    <h1 style="color: #093459; text-align: center;" class="heading">
        Program skolice za decake i devojcice
    </h1>

    <div class="text-container">
        <p class="text-in-text-container">
            Osnovni program školice sporta čine dva treninga nedeljno u trajanju od po 60 minuta koji su usmereni na
            razvoj
            motoričkih sposobnosti dece, njihove koordinacije, agilnosti, okretnosti, ravnoteže, osećaja položaja u
            prostoru
            kao i pozitivnih psihološko-socijoloških karakteristika.

            Deca se kroz nas program uče pravilnom držanju tela, hodanju, trčanju, plivanju i svim drugim prirodnim
            oblicima
            kretanja, a sve to kroz vežbe i igrice prilagođene uzrastu, poligone, štafetne igre i zabavu.

            <b style="font-family: 'Open Sans', regular; font-weight: 900;">Takodje jedan od osnovnih zadataka školice
                je stvaranje interesovanja i ljubavi prema zdravom životu i
                sportu.</b>
        </p>
        <div style="display: flex; justify-content: center;">
            <iframe src="https://www.youtube.com/embed/AwmgNPK64xM" allowfullscreen>
            </iframe>
        </div>
    </div>

    <div class="separator"> </div>

    <div class="cards-container">
        <div class="location-card">
            <h1 class="heading location-card-h1">Activity Centar</h1>
            <p class="location-card-p">STEVANA SINĐELIĆA 2</p>
            <p class="location-card-p">ŠKOLICA SPORTA, AEROBIC, ZUMBA</p>
            <p class="location-card-p">064/27 48 571</p>
        </div>
        <div class="location-card">
            <h1 class="heading location-card-h1">SC Olimp</h1>
            <p class="location-card-p">STEVANA SINĐELIĆA 2</p>
            <p class="location-card-p">ŠKOLICA SPORTA, AEROBIC, ZUMBA</p>
            <p class="location-card-p">064/27 48 571</p>
        </div>
        <div class="location-card">
            <h1 class="heading location-card-h1">Mesna Zajednica Mirijevo</h1>
            <p class="location-card-p">STEVANA SINĐELIĆA 2</p>
            <p class="location-card-p">ŠKOLICA SPORTA, AEROBIC, ZUMBA</p>
            <p class="location-card-p">064/27 48 571</p>
        </div>
        <div class="location-card">
            <h1 class="heading location-card-h1">Fitness Club Cat</h1>
            <p class="location-card-p">STEVANA SINĐELIĆA 2</p>
            <p class="location-card-p">ŠKOLICA SPORTA, AEROBIC, ZUMBA</p>
            <p class="location-card-p">064/27 48 571</p>
        </div>
        <div class="location-card">
            <h1 class="heading location-card-h1">PU Panoramica</h1>
            <p class="location-card-p">STEVANA SINĐELIĆA 2</p>
            <p class="location-card-p">ŠKOLICA SPORTA, AEROBIC, ZUMBA</p>
            <p class="location-card-p">064/27 48 571</p>
        </div>
        <div class="location-card">
            <h1 class="heading location-card-h1">SC Ole</h1>
            <p class="location-card-p">STEVANA SINĐELIĆA 2</p>
            <p class="location-card-p">ŠKOLICA SPORTA, AEROBIC, ZUMBA</p>
            <p class="location-card-p">064/27 48 571</p>
        </div>
        <div class="location-card">
            <h1 class="heading location-card-h1">Bazen Dynamic</h1>
            <p class="location-card-p">STEVANA SINĐELIĆA 2</p>
            <p class="location-card-p">ŠKOLICA SPORTA, AEROBIC, ZUMBA</p>
            <p class="location-card-p">064/27 48 571</p>
        </div>
    </div>

    <div class="separator"> </div>

    <div class="text-container">
        <h1 style="color: #093459; text-align: center;" class="heading">
            Misija Skolice
        </h1>
        <p class="text-in-text-container">
            Deci su potrebne vežbe da se pravilno razvijaju i steknu samopouzdanje. Današnji tempo života je veoma brz i
            bazične vežbe nisu deo njega. Deca sve više vremena provode igrajuci igrice i gledajući televizor, što je
            jedan od osnovnih i potencijalnih uzroka za nastajanje različitih vrsta deformiteta i gojaznosti. Danas
            svako treće dete ima problema sa lokomotornim sistemom (ravna stopala, deformiteti kičmenog stuba,
            deformiteti grudnog koša i prekomerna težina) što je posledica pasivnog načina života. Neaktivnost sa sobom
            povlači i još niz drugih problema, kao što je problem sa koncentracijom.
            Školica sporta svoj program i rad bazira na, <b class="bolding">najnovijim naučnim saznanjima iz oblasti
                zdravstvene preventive</b> sporta, pedagoške prakse i metodike sportskog časa.
        </p>
    </div>

    <div class="separator"></div>
    <div class="separator"></div>

    <div
        style="width: 100%; height: 250px; background-color: #093459; display: flex; align-items: center; justify-content: center;">
        <h2 class="heading h2-slogan">
            Aktivna deca su zdrava deca!!!
        </h2>
    </div>

    <div class="separator"></div>
    <div class="separator"></div>

    <div class="text-container">
        <h1 style="color: #093459; text-align: center;" class="heading">
            Cilj Skolice Sporta
        </h1>
        <!-- <p style="padding: 30px; font-size: x-large; text-align: center; font-family: 'Open Sans', regular;"> -->
        <div class="text-container-box">
            <div class="left-in-text-container">
                <ul>
                    <li class="li-item">
                        Pravilan razvoj dece kroz igru, sport, muziku.
                    </li>
                    <li class="li-item">
                        Pravilan razvoj dece kroz igru, sport, muziku.
                    </li>
                    <li class="li-item">
                        Prevencija posturalnih deformiteta, koji se sve učestalije javljaju kod dece <br>
                        (skolioza, lordoza, kifoza, X i O noge, ravna i izdubljena stopala).
                    </li>
                    <li class="li-item">
                        Smanjenje rizika od pojave gojaznosti kod dece i poremećaja koji je prate <br>
                        (hipertenzija, dijabetes...).
                    </li>
                    <li class="li-item">
                        Preventiva od deformiteta kičme nogu i stopala. Rana dijagnostika.
                    </li>
                    <li class="li-item">
                        Unapređenje zdravlja dece.
                    </li>
                    <li class="li-item">
                        Razvoj motoričkih sposobnosti.
                    </li>
                    <li class="li-item">
                        Razvoj intelektualnih sposobnosti.
                    </li>
                    <li class="li-item">
                        Otkrivanje, vođenje i praćenje talentovane dece
                    </li>
                    <li class="li-item">
                        Sociološki razvoj dece
                    </li>
                    <li class="li-item">
                        Poboljšanje emotivnog i psihološkog stanja dece.
                    </li>
                    <li class="li-item">
                        Stvaranje punovredne, sposobne, zdrave ličnosti deteta
                    </li>
                    <li class="li-item">
                        Unapređenje pedagoškog rada sa decom
                    </li>
                    <li class="li-item">
                        Razvoj interesovanja i ljubavi prema sportu
                    </li>
                </ul>
            </div>
            <div class="right-text-in-text-container">
                <p class="li-item text-in-right">
                    U periodu odrastanja deteta, <b class="bolding">jedna od najvaznijih stvari koja utice na pravilan
                        razvoj jeste
                        postovanje senzitivnih perioda i kriticnih faza u kojima se razvijaju odredjene motoricke
                        sposobnosti.</b> Ukoliko dodje do zanemarivanja, odnosno ako odredjena motoricke sposobnosti
                    nisu
                    sprovodjene u senzitivnim periodima, one se vise ne mogu nadoknaditi i u buducem sportskom razvoju
                    se ne moze dostici maksimum uspeha. Gipkost, brzina reakcije, koordinacija, ravnoteza, agilnost su
                    samo neke od motorickih sposobnosti koje je potrebno razvijati u najmladjim uzrastima ukoliko
                    <b class="bolding">mislimo da strategija dugorocnog sportskog razvoja bude uspesno zapoceta.</b>
                </p>
            </div>
        </div>
    </div>

    <div class="text-container">
        <h1 style="color: #093459; text-align: center;" class="heading">
            ACTIVMAN
        </h1>
        <div class="activman-diploma-container">
            <div class="diploma-box">
                <img class="h2-slogan" style="width: 200px;"
                    src="assets/photos/Activity_diploma_bronzana.jpg" alt="Activity_diploma_bronzana">
                <h3 style="color: #093459;" class="heading h2-slogan">ACTIVKO</h3>
            </div>
            <div class="diploma-box">
                <img class="h2-slogan" style="width: 200px;"
                    src="assets/photos/Activity_diploma_srebrna.jpg" alt="Activity_diploma_srebrna">
                <h3 style="color: #093459;" class="heading h2-slogan">ACTIVISA</h3>
            </div>
            <div class="diploma-box">
                <img class="h2-slogan" style="width: 200px;"
                    src="assets/photos/Activity_diploma_zlatna.jpg" alt="Activity_diploma_zlatna">
                <h3 style="color: #093459;" class="heading h2-slogan">ACTIVMAN</h3>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <iframe src="https://www.youtube.com/embed/9EEBQ6TzG4g" allowfullscreen>
            </iframe>
        </div>
    </div>




</div>
<app-footer></app-footer>