<div class="register-div">
    <div class="mat-elevation-z8">
        <div [formGroup]="form">
            <mat-form-field>
                <input matInput name="firstName" formControlName="firstName" type="text" placeholder="Ime">
                <mat-error>{{formError.mapErrors(form.get('firstName'), 'Ime')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="lastName" formControlName="lastName" type="text" placeholder="Prezime">
                <mat-error>{{formError.mapErrors(form.get('lastName'), 'Prezime')}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput name="phone" formControlName="phone" type="text" placeholder="Broj telefona">
                <mat-error>{{formError.mapErrors(form.get('phone'), 'Broj telefona')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="email" formControlName="email" type="email" placeholder="E-mail">
                <mat-error>{{formError.mapErrors(form.get('email'), 'E-mail')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" name="description" placeholder="Opis"
                    formControlName="description"></textarea>
                <mat-error>{{formError.mapErrors(form.get('description'), 'Opis')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Datum</mat-label>
                <input matInput [matDatepicker]="pickerStart" name="startDate" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
                <mat-error>
                    {{formError.mapErrors(form.get('startDate'), 'Datum')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mesto</mat-label>
                <mat-select formControlName="place">
                    <mat-option *ngFor="let place of places" [value]="place">
                        {{place}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    {{formError.mapErrors(form.get('place'), 'Mesto')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Paket</mat-label>
                <mat-select formControlName="bundle">
                    <mat-option *ngFor="let bundle of bundles" [value]="bundle">
                        {{bundle}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    {{formError.mapErrors(form.get('bundle'), 'Paket')}}
                </mat-error>
            </mat-form-field>
            <p class="message">{{message}}</p>
            <button class="register-button" mat-raised-button color="primary" (click)="onRegister()">Rezervisi</button>
        </div>
    </div>
</div>