.register-div {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.mat-elevation-z8 {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    padding: 40px;
}

.register-button {
    padding: 10px;
}

.register-button:hover {
    // color: rgb(210, 255, 220);
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

mat-form-field {
  width: 100%;
}